{% if employee['addresses'] is defined %}
    {% set employeeAddresses = employee['addresses'] %}
{% else %}
    {% set employeeAddresses = '' %}
{% endif %}
<div class="row">
    <div class="col">
        {% set params =
            [
                'component'                                   : component,
                'componentName'                               : componentName,
                'componentId'                                 : componentId,
                'sectionId'                                   : sectionId,
                'addressFieldType'                            : 'multiple',
                'includeAttentionTo'                          : true,
                'includeStreet'                               : true,
                'includeStreetExt'                            : true,
                'searchType'                                  : 'city',
                'addresses'                                   : employeeAddresses
            ]
        %}
        {% if employee['id'] is defined %}
            {% set params = array_merge(params,
                    [
                        'addressPostLink'                             : links.url('employees/addresses'),
                        'addressPackageClass'                         : 'Apps_Tms_Packages_Employees_Employees',
                        'addressPackageRowId'                         : employee['id']
                    ]
                )
            %}
        {% endif %}
        {{adminltetags.useTag('addresses', params)}}
    </div>
</div>