<!-- htmlhint tag-pair:false -->
{% if employee['id'] is defined %}
    {% set id = employee['id'] %}
    {% set employeeOrganisation = employee['organisation_id'] %}
    {% set employeeAccountId = employee['account_id'] %}
    {% set employeeId = employee['employee_id'] %}
    {% set employeeStatus = employee['status'] %}
    {% set employeeDesignation = employee['designation'] %}
    {% set employeeManagerId = employee['manager_id'] %}
    {% set employeeFirstName = employee['contact']['first_name'] %}
    {% set employeeLastName = employee['contact']['last_name'] %}
{% else %}
    {% set id = '' %}
    {% set employeeOrganisation = '' %}
    {% set employeeAccountId = '' %}
    {% set employeeId = '' %}
    {% set employeeStatus = '' %}
    {% set employeeDesignation = '' %}
    {% set employeeManagerId = '' %}
    {% set employeeFirstName = '' %}
    {% set employeeLastName = '' %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'id',
                'fieldLabel'                     : 'ID',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'ID',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : true,
                'fieldHidden'                    : true,
                'fieldDisabled'                  : true,
                'fieldValue'                     : id
            ]
        )}}
    </div>
</div>
<div class="row vdivide">
    <div class="col-md-3 col-sm-12">
        {% set employeePortrait = '' %}
        {% if employee['contact']['portrait'] is defined and employee['contact']['portrait'] != '' %}
            {% set portraitLink = links.url('system/storages/q/uuid/' ~ employee['contact']['portrait'] ~ '/w/200') %}
            {% set employeePortrait = employee['contact']['portrait'] %}
        {% else %}
            {% set portraitLink = '' %}
        {% endif %}
        {% if employee['contact']['initials_avatar']['large'] is defined and employee['contact']['initials_avatar']['large'] != '' %}
            {% set initialsAvatar = employee['contact']['initials_avatar'] %}
        {% else %}
            {% set initialsAvatar = '' %}
        {% endif %}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'portrait',
                'fieldLabel'                     : false,
                'fieldType'                      : 'files/croppie',
                'fieldValue'                     : employeePortrait,
                'imageType'                      : 'portrait',
                'initialsAvatar'                 : initialsAvatar,
                'storageType'                    : 'private',
                'upload'                         : true,
                'avatar'                         : true,
                'remove'                         : true,
                'recover'                        : true,
                'portraitLink'                   : portraitLink
            ]
        )}}
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'organisation_id',
                        'fieldLabel'                            : 'Organisation',
                        'fieldType'                             : 'select2',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : "Select organisation",
                        'fieldRequired'                         : true,
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : true,
                        'fieldBazPostOnUpdate'                  : true,
                        'fieldDataSelect2Options'               : organisations,
                        'fieldDataSelect2OptionsKey'            : 'id',
                        'fieldDataSelect2OptionsValue'          : 'name',
                        'fieldDataSelect2OptionsArray'          : true,
                        'fieldDataSelect2OptionsSelected'       : employeeOrganisation
                    ]
                )}}
            </div>
        {% if employeeId != '' %}
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'account_id',
                        'fieldLabel'                            : 'Account ID',
                        'fieldType'                             : 'select2',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : "Select account id to associate with the employee.",
                        'fieldRequired'                         : false,
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : false,
                        'fieldBazPostOnUpdate'                  : true,
                        'fieldDataSelect2Options'               : account,
                        'fieldDataSelect2OptionsKey'            : 'id',
                        'fieldDataSelect2OptionsValue'          : 'email',
                        'fieldDataSelect2OptionsArray'          : true,
                        'fieldDataSelect2OptionsSelected'       : employeeAccountId
                    ]
                )}}
            </div>
        {% endif %}
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'employee_id',
                        'fieldLabel'                     : 'Employee ID',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Employee ID, if different from systems assigned ID.',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : employeeId
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'status',
                        'fieldLabel'                            : 'Status',
                        'fieldType'                             : 'select2',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : "Select status",
                        'fieldRequired'                         : true,
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : true,
                        'fieldBazPostOnUpdate'                  : true,
                        'fieldDataSelect2Options'               : employeeStatuses,
                        'fieldDataSelect2OptionsKey'            : 'id',
                        'fieldDataSelect2OptionsValue'          : 'name',
                        'fieldDataSelect2OptionsArray'          : true,
                        'fieldDataSelect2OptionsSelected'       : employeeStatus
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                            : component,
                        'componentName'                        : componentName,
                        'componentId'                          : componentId,
                        'sectionId'                            : sectionId,
                        'fieldId'                              : 'designation',
                        'fieldLabel'                           : 'Designation',
                        'fieldType'                            : 'select2',
                        'fieldHelp'                            : true,
                        'fieldHelpTooltipContent'              : 'Select/Create designation',
                        'fieldRequired'                        : false,
                        'fieldDisabled'                        : false,
                        'fieldBazScan'                         : true,
                        'fieldBazPostOnCreate'                 : true,
                        'fieldBazPostOnUpdate'                 : true,
                        'fieldDataSelect2OptionsArray'         : true,
                        'fieldDataSelect2Create'               : true,
                        'fieldDataSelect2Options'              : designations,
                        'fieldDataSelect2OptionsKey'           : 'id',
                        'fieldDataSelect2OptionsValue'         : 'name',
                        'fieldDataSelect2OptionsSelected'      : employeeDesignation
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'manager_id',
                        'fieldLabel'                            : 'Manager',
                        'fieldType'                             : 'select2',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : "Select manager",
                        'fieldRequired'                         : false,
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : true,
                        'fieldBazPostOnUpdate'                  : true,
                        'fieldDataSelect2Options'               : employees,
                        'fieldDataSelect2OptionsKey'            : 'id',
                        'fieldDataSelect2OptionsValue'          : 'full_name',
                        'fieldDataSelect2OptionsArray'          : true,
                        'fieldDataSelect2OptionsSelected'       : employeeManagerId
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'first_name',
                        'fieldLabel'                     : 'First Name',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'First Name',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : employeeFirstName
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'last_name',
                        'fieldLabel'                     : 'Last Name',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Last Name',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : employeeLastName
                    ]
                )}}
            </div>
        </div>
    </div>
</div>
<!-- htmlmin:ignore -->